*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 55%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 37.5em) {
  html {
    font-size: 47.5%;
  }
  html main .todos .todo_options_update {
    margin-right: 1rem;
  }
  html main .addtask {
    padding: 2rem;
  }
  html main .addtask_input {
    width: 80%;
  }
}

@media only screen and (min-width: 75em) {
  html {
    font-size: 60%;
  }
  html body, html header {
    -ms-grid-columns: minmax(2rem, 1fr) (minmax(min-content, 9rem))[12] minmax(2rem, 1fr);
        grid-template-columns: minmax(2rem, 1fr) repeat(12, minmax(-webkit-min-content, 9rem)) minmax(2rem, 1fr);
        grid-template-columns: minmax(2rem, 1fr) repeat(12, minmax(min-content, 9rem)) minmax(2rem, 1fr);
  }
  html main .addtask_input {
    margin-right: 4rem;
  }
}

body {
  background-color: gainsboro;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) (minmax(min-content, 6.5rem))[12] minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr) repeat(12, minmax(-webkit-min-content, 6.5rem)) minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr) repeat(12, minmax(min-content, 6.5rem)) minmax(0, 1fr);
}

.heading-1, .heading-2, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.texting-1, .texting-2, .texting-3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.heading-1 {
  color: white;
  font-weight: 800;
  font-size: 3rem;
}

.heading-2 {
  font-weight: 600;
  font-size: 2.4rem;
}

.heading-3 {
  font-weight: 600;
  font-size: 1.6rem;
}

.texting-1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

.texting-2 {
  font-size: 1.8rem;
  color: white;
}

.texting-3 {
  font-size: 1.6rem;
  color: black;
}

.iconuser-1 {
  font-size: 3rem;
  color: white;
}

.d-none {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0.8rem;
  background-color: gainsboro;
}

::-webkit-scrollbar-thumb {
  background: #616161;
}

.scroller {
  scrollbar-color: #616161 gainsboro;
  scrollbar-width: thin;
}

header {
  grid-column: 1/-1;
  max-height: 10rem;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(2rem, 1fr) (minmax(min-content, 6.5rem))[12] minmax(2rem, 1fr);
      grid-template-columns: minmax(2rem, 1fr) repeat(12, minmax(-webkit-min-content, 6.5rem)) minmax(2rem, 1fr);
      grid-template-columns: minmax(2rem, 1fr) repeat(12, minmax(min-content, 6.5rem)) minmax(2rem, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / span 5;
  padding: 2rem;
}

header .currentuser {
  grid-column: span 2 / -3;
  text-align: end;
}

header i {
  cursor: pointer;
  padding: 2rem;
}

main {
  grid-column: 2/-2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 2rem;
}

main .welcome {
  background-color: white;
  border-radius: 2.5rem;
  width: 80%;
  height: 10rem;
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main .welcome > h2 {
  padding: 1rem;
}

main .todos {
  width: 95%;
  margin: 2rem;
  background-color: white;
  border-radius: 2.5rem;
  min-height: 16rem;
  height: calc(100vh - 40rem);
  overflow-y: auto;
}

main .todos .todo {
  background-color: #f7f7f7;
  border: 0.1rem solid #616161;
  border-radius: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 90%;
  min-height: 10rem;
  padding: 1.5rem;
  margin: 3rem auto;
}

main .todos .todo_check {
  cursor: pointer;
  -webkit-appearance: none;
  background-color: orange;
  border: 1px solid orange;
  padding: 1.5rem;
  position: relative;
  border-radius: 2.5rem;
}

main .todos .todo_check:checked {
  background-color: green;
  border: 0.1rem solid transparent;
}

main .todos .todo_check:checked:after {
  content: "\2714";
  font-size: 2rem;
  position: absolute;
  top: 0.1rem;
  left: 0.6rem;
  color: white;
}

main .todos .todo_text {
  padding: 0 2rem;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  text-align: center;
}

main .todos .todo_options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .todos .todo_options_delete {
  font-size: 2.5rem;
  cursor: pointer;
  color: red;
}

main .todos .todo_options_update {
  font-size: 2.5rem;
  cursor: pointer;
  color: #5689d4;
}

main .todos .todo_default {
  padding: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .addtask {
  background-color: white;
  border-radius: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 1rem;
  padding: 2rem 4rem;
}

main .addtask_input {
  width: 90%;
  height: 5rem;
  padding: 1rem 1.5rem;
  border-radius: 2.5rem;
  margin-right: 1.5rem;
}

main .addtask_btn {
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  background-color: black;
  border-radius: 2.5rem;
  cursor: pointer;
  border: none;
}

.accueil {
  background-color: white;
  border-radius: 2.5rem;
  padding: 2rem;
  margin: 4rem 2rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.accueil h2 {
  padding: 4rem;
  text-align: center;
}

.accueil p {
  padding: 3rem;
}

.connexion {
  background-color: white;
  border-radius: 2.5rem;
  padding: 4rem 2rem;
  margin: 4rem 2rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  grid-column: 5/-5;
}

.connexion_form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.connexion_form_mail {
  border-radius: 2.5rem;
  width: 80%;
  max-width: 30rem;
  padding: 1rem 1.5rem;
  margin: 1rem;
}

.connexion_form_mdp {
  border-radius: 2.5rem;
  width: 80%;
  max-width: 30rem;
  padding: 1rem 1.5rem;
  margin: 1rem;
}

.connexion_form_forgot {
  width: 80%;
  max-width: 30rem;
  text-align: right;
  margin-bottom: 4rem;
}

.connexion_form_loginbtn {
  max-width: 16rem;
  padding: 1rem 4rem;
  background-color: black;
  border-radius: 2.5rem;
  cursor: pointer;
}

.connexion_createaccount {
  padding-top: 2rem;
}

.inscription {
  background-color: white;
  border-radius: 2.5rem;
  padding: 4rem 2rem;
  margin: 4rem 2rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  grid-column: 5/-5;
}

.inscription_form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.inscription_form_mail {
  border-radius: 2.5rem;
  width: 80%;
  max-width: 30rem;
  padding: 1rem 1.5rem;
  margin: 1rem;
}

.inscription_form_mdp {
  border-radius: 2.5rem;
  width: 80%;
  max-width: 30rem;
  padding: 1rem 1.5rem;
  margin: 1rem;
}

.inscription_form_loginbtn {
  margin-top: 1rem;
  max-width: 16rem;
  padding: 1rem 4rem;
  background-color: black;
  border-radius: 2.5rem;
  cursor: pointer;
}

.inscription_subscribe {
  padding-top: 2rem;
  text-decoration: underline;
}
