header {
  grid-column: 1/-1;
  max-height: 10rem;
  background-color: black;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) repeat(12, minmax(min-content, 6.5rem)) minmax(2rem, 1fr);
  
  align-items: center;

  h1 {
    grid-column: 2 / span 5;
    padding: 2rem;
  }

  .currentuser{
    grid-column: span 2 / -3;
    text-align: end;
  }

  i {
    cursor: pointer;
    padding: 2rem;
  }
}
