main {
  grid-column: 2/-2;
  display: grid;
  justify-items: center;
  padding: 2rem;

  .welcome {
    background-color: $color-white;
    border-radius: 2.5rem;

    width: 60%;
    height: 10rem;
    margin: 2rem 2rem 1rem 2rem;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    >h2{
      padding: 1rem;
    }
  }

  .todos {
    width: 90%;
    margin: 2rem;
    background-color: $color-white;
    border-radius: 2.5rem;
    padding: 1rem 0;
    max-height: 50vh;
    
    overflow-y: auto ;
    

    .todo {
      background-color: #f7f7f7;
      border: 0.1rem solid $color-gray;
      border-radius: 2.5rem;

      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
      align-items: center;
      justify-items: center;

      width: 90%;
      max-height: 10rem;
      padding: 1.5rem;
      margin: 3rem auto;

      &_check {
        cursor: pointer;
        -webkit-appearance: none;
        background-color: orange;
        border: 1px solid orange;
        padding: 1.5rem;
        position: relative;
        border-radius: 2.5rem;
        &:checked {
          background-color: green;
          border: 0.1rem solid transparent;
        }
        &:checked:after {
          content: "\2714";
          font-size: 2rem;
          position: absolute;
          top: 0.1rem;
          left: 0.6rem;
          color: white;
        }
      }

      &_text {
        padding: 0 2rem;
        border: none;
        background-color: transparent;
        outline: none;
        width: 100%;
        text-align: center;
      }

      &_options{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        &_delete {
          font-size: 2.5rem;
          cursor: pointer;
          color: red;
        }
        &_update{
          font-size: 2.5rem;
          cursor: pointer;
          color: rgb(86, 137, 212);
        }
      }

      &_default{
        padding: 2rem;
        text-align: center;
      }
    }
  }

  .addtask {
    background-color: $color-white;
    border-radius: 2.5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    height: min-content;

    margin-top: 1rem;
    padding: 3rem 4rem;


    &_input {
      width: 90%;
      height: 5rem;
      padding: 1rem 1.5rem;
      border-radius: 2.5rem;
      margin-right: 1.5rem;
    }

    &_btn {
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
      background-color: $color-black;
      border-radius: 2.5rem;
      cursor: pointer;
    }
  }
}
