.connexion {
  background-color: $color-white;
  border-radius: 2.5rem;
  padding: 4rem 2rem;
  margin: 4rem 2rem;

  &_form {
    width: 100%;
    display: grid;
    justify-items: center;
    
    &_mail {
      border-radius: 2.5rem;
      width: 80%;
      padding: 0.5rem 1rem;
      margin: 1rem;
    }
    &_mdp {
      border-radius: 2.5rem;
      width: 80%;
      padding: 0.5rem 1rem;
      margin: 1rem;
    }
    &_forgot {
      width: 80%;
      text-align: right;
      margin-bottom: 4rem;
    }
    &_loginbtn {
      max-width: 16rem;
      padding: 1rem 4rem;
      background-color: $color-black;
      border-radius: 2.5rem;
      cursor: pointer;
    }
  }
}
