$color-primary: rgb(220, 220, 220);
$color-black: black;
$color-gray: rgb(97, 97, 97);
$color-white: white;
$color-light-gray: rgb(220, 220, 220);

$font-text: "Open Sans", sans-serif;
$font-title: "Josefin Sans", sans-serif;

$bp-largest: 75em; // 1200px
$bp-small: 37.5em; // 600px;

html {
  font-size: 55%;
  box-sizing: border-box;

  @media screen and (max-width: $bp-small) {
    font-size: 47.5%;
    main {
      .todos{
        .todo{
          &_options{
            &_update{
              margin-right: 1rem;
            }
          }
        }
      }
      .addtask {
        padding: 2rem;
        &_input {
          width: 80%;
        }
      }
    }
  }

  @media only screen and (min-width: $bp-largest) {
    font-size: 60%;
    body {
      grid-template-columns:
        minmax(2rem, 1fr) repeat(12, minmax(min-content, 9rem))
        minmax(2rem, 1fr);
    }
    main {
      .todos {
        .todo{
          height: 20rem;
        }
      }
      .addtask {
        &_input {
          margin-right: 4rem;
        }
      }
    }
  }
}

body {
  background-color: $color-primary;
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) repeat(12, minmax(min-content, 6.5rem))
    minmax(0, 1fr);
}

