.d-none{
    display: none !important;
}

.edit_text{
    border: black 0.1rem solid !important; 
    background-color: white !important;
    border-radius: 2.5rem;
}

::-webkit-scrollbar {
    width: 0.8rem;
    background-color: $color-light-gray;
}
::-webkit-scrollbar-thumb {
    background: $color-gray;
}

.scroller{
    scrollbar-color: $color-gray $color-light-gray;
    scrollbar-width: thin;
}
